# ios specific
.DS_Store

# notes
notes.md

# others
.idea
/.gradle/
/gradle/
/build.gradle
/gradlew
/gradlew.bat

# python virtualenv
.venv

# files explicitly defined as local
*.local.*

# vscode configuration
.vscode

# pycache
__pycache__/
